<div class="w3-bar w3-blue w3-card">
	<a href="/art/index" class="w3-bar-item w3-button" >Index</a>
	<a href="/art/new" class="w3-bar-item w3-button" >New</a>
	<a class="w3-bar-item w3-button w3-dark-grey">Submissions</a>
	<a href="/logout" class="w3-bar-item w3-button">Log Out</a>
</div>
<div class="content">
	<br>
	<% Work.all.sort_by{|obj| obj.title}.each do |work| %>
		<%if work.user_id == @user.id%>
		 <h3><a href="/art/<%=work.slug%>"><%= work.title %></a></h3>
		 <h5><%= work.medium%></h5>
		 <h4><%if work.artist.strip != ""%> created by <%= work.artist%> <%end%> <%if work.year != nil%> in <%= work.year%> <%end%></h4>
		 <div>----------------------------------------------------------------------------------</div>
		<% end %>
	<% end %>
</div>




